/*Navbar*/
.nb-background-color {  /*navbar background image */
    background-image: url("https://live.staticflickr.com/7377/12180731193_e44052fe2c_b.jpg");
    background-size: cover;
}

.nbMenuItem {       /*navbar link text properties*/
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;;
}

/*Index page*/
.showcase{
    background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2023-03/230328-supercell-tornado-kansas-file-mn-1000-3bf68b.jpg");
    background-size: cover;
    padding: 200px;    
    zoom: 185%;
}

.container{
    color: black;
}

<<<<<<< Updated upstream
.footer{
    background-color: #acc6aa;
}

=======
/*Terminology Page*/

/*Meteorologists Page*/
>>>>>>> Stashed changes

/* ---------------------- ID ---------------------- */


/* ----------------- Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}