@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

/*Navbar*/
.nb-background-color {  /*navbar background color */
    background-color: rgba(124, 124, 124, 1)
}

.nbMenuItem {       /*navbar link text properties*/
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;;
}

/*Index page*/
.showcase{
    background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2023-03/230328-supercell-tornado-kansas-file-mn-1000-3bf68b.jpg");
    background-size: cover;
    padding: 200px;    
    zoom: 185%;
    font-family: 'Londrina Shadow', sans-serif;
}

.nb-index-background-color {  /*index navbar background image */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(33, 12, 55, 0.403)), url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
    background-size: cover;
    height: 750px;
    align-items: baseline;
}

.container{
    color: black;
}

.footer{
    background-color: #acc6aa;
}

.ovPadLeft {
    padding-left: 75px;
}
.ovPadRight {
    padding-right: 75px;
}
.container {
    padding-left: 125px;
    padding-right: 125px;
}
.vr {
    margin-left: auto;
    opacity: 5%;
    margin-right: auto;
}


body {
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    font-family: $firaSans;
    
}

.zoomable-image {
    max-width: 200px; /* Set the initial width of the image */
    zoom: 1;
  }

  /* Define the hover effect */
.zoomable-image:hover {
    max-width: 200px;
    transition: transform 0.3s; /* Add a smooth transition */
    transform: scale(1.2) /* Scale the image to 120% on hover */
  }

.card-hover {
    $root: &;
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0,0,0,0.08);
    padding-top: 50px;
    padding-left: 10px;
}
/* ---------------------- ID ---------------------- */


/* ----------------- Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}
